<header class="header" [class.header--hidden]="!isHeaderVisible">
  <div class="header__container">
    <a routerLink="/" class="header__logo">
      <img src="assets/images/logo-mobile.svg" alt="StreamVibe" />
    </a>
    <a routerLink="/" class="header__logo header__logo--laptop">
      <img src="assets/images/logo-tablet.svg" alt="StreamVibe" />
    </a>

    <a routerLink="/" class="header__logo header__logo--desktop">
      <img src="assets/images/logo-desktop.svg" alt="StreamVibe" />
    </a>

    <button class="header__hamburger" type="button" aria-label="Mở menu">
      <img src="assets/icons/menu.svg" alt="Menu" />
    </button>

    <nav class="header__nav">
      <a
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header__nav-item"
        *ngFor="let item of headerNavigation"
      >
        {{ item.title }}
      </a>
    </nav>

    <div class="header__buttons">
      <button routerLink="/search" class="header__buttons-item">
        <img
          src="assets/icons/search.svg"
          class="header__icons-item icon icon--white"
          alt="Play"
          width="34"
          height="34"
        />
      </button>
      <button class="header__buttons-item">
        <img
          src="assets/icons/bell.svg"
          class="header__icons-item icon icon--white"
          alt="Play"
          width="34"
          height="34"
        />
      </button>
    </div>
  </div>

  <!-- Search Container -->
  <div class="search-container" *ngIf="isHeaderVisible">
    <div class="search-input">
      <button class="search-input__button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="search-input__icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </button>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onInputChange($event)"
        class="search-input__input"
        placeholder="Search for a movie, tv show, person..."
      />
    </div>
    <div class="search-results">
      <ng-container *ngIf="trendingMovies$ | async as trendingMovies">
        <ng-container *ngIf="trendingMovies.loading; else content">
          <div class="search-results__item">
            <app-skeleton width="100px" height="100px"></app-skeleton>
          </div>
        </ng-container>
        <ng-template #content>
          <div
            class="search-results__item"
            *ngFor="let movie of trendingMovies.data"
          >
            <p class="search-results__item-title">{{ movie.title }}</p>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</header>
