@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/base" as *;
@use "../../../../assets/styles/mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: $white;
  @include mq-xl {
    padding: 3rem 16.2rem;
  }
  @include mq-lg {
    padding: 2.4rem 8rem;
  }

  &__nav {
    display: flex;
    gap: 2rem;
    background-color: $black-06;
    padding: 0.8rem;
    border-radius: 1rem;
    border: solid 3px $black-12;
    &-item {
      display: block;
      height: 100%;
      border-radius: 0.8rem;
      padding: 1.2rem 0;
      background: transparent;
      color: $grey-75;
      transition: all 0.3s ease;
      &:hover {
        color: $white;
      }
      &.active {
        padding: 1.2rem 2rem;
        background-color: $black-10;
        color: $white;
      }
    }
    &-item:first-child {
      padding-left: 2rem;
    }
    &-item:last-child {
      padding-right: 2rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 3rem;

    &-item {
      background: none;
      border: none;
      color: $white;
      width: 34px;
      height: 34px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
