<div class="people-card">
  <ng-container *ngIf="person">
    <a [routerLink]="['/people', person.id]" class="people-card__image-wrapper">
      <img
        class="people-card__poster"
        [src]="
          person.profile_path
            ? (person.profile_path | imageUrl : 300 : false)
            : 'assets/images/default-avatar.jpg'
        "
        [alt]="person.name"
      />
    </a>
    <div class="people-info">
      <a [routerLink]="['/people', person.id]" class="people-info__name">{{
        person.name
      }}</a>
      <p class="people-info__famous-for">{{ renderKnownForText(person) }}</p>
    </div>
  </ng-container>
</div>
