@use "../../../../../assets/styles/mixins" as *;
@use "../../../../../assets/styles/variables" as *;

.movie-detail-cast {
  overflow: hidden;
  .cast-container {
    width: 100%;
    .cast-list {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      padding: 0.5rem 0;

      @include mq-md {
        gap: 1.5rem;
      }
      &__see-all {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        @include font-base(1.5rem, $regular, $grey-65);
        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
  &__more {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    @include font-base(1.5rem, $regular, $grey-65);
    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
    &:hover svg {
      fill: $primary-color;
      stroke: $primary-color;
    }
    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: $grey-65;
    }
  }
}
