@use "../../../../../assets/styles/variables" as *;
@use "../../../../../assets/styles/mixins" as *;
@use "../../../../../assets/styles/base" as *;

.search-layout {
  @extend .container;
  margin-top: 10rem;
  @include mq-md {
    margin-top: 12rem;
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: $white;
    margin-bottom: 1.2rem;
    text-align: center;
  }
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .search-box {
    @extend .container;
  }
}
.search-input {
  width: 90%;
  @include mq-md {
    width: 50%;
  }
  position: relative;
  &__input {
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: 1.2rem;
    outline: none;
    border: none;
    border: 1px solid $black-20;
    background-color: $black-15;
    @include font-base(1.5rem, $regular);
    &::placeholder {
      color: $grey-70;
    }
  }

  &__button {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    padding: 0.5rem;
    background: transparent;
    transform: translateY(-50%);
    border: none;
    outline: none;
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    color: $grey-70;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: $white;
    }
  }
}

.search-results {
  position: absolute;
  border-radius: 1.2rem;
  overflow: hidden;
  top: 100%;
  width: 90%;
  @include mq-md {
    width: 50%;
  }
  right: 0;
  left: 0;
  background-color: $black-15;
  padding: 1.2rem;
  @extend .container;

  &__item {
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    color: $grey-70;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid $black-20;
    &:hover {
      background-color: $black-20;
      color: $white;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &__trending {
    background-color: $black-15;
    border-radius: 1.2rem;
    &-title {
      @include font-base(1.8rem, $bold);
      color: $white;
      padding: 0rem 1.2rem 1.5rem;
      border-bottom: 1px solid $black-20;
    }
  }
}
