<div class="movies-page">
  <div class="movies-page__sidebar">
    <app-movie-filter
      [movieGenres]="movieGenres"
      [selectedCategoryValue]="selectedCategory"
      (onCategoryChange)="handleCategoryChange($event)"
    ></app-movie-filter>
  </div>
  <div class="movies-page__main">
    <div class="movies-list">
      <ng-container class="" *ngFor="let movie of movies">
        <app-movie-card class="list-item" [movie]="movie"></app-movie-card>
      </ng-container>
    </div>
  </div>
</div>
