<div class="movie-card">
  <div class="movie-card__poster">
    <img [src]="movie.poster_path" [alt]="movie.title || movie.name" />
    <div class="movie-card__rating">
      <span
        >{{ movie.vote_average ? (movie.vote_average * 10) | number:'1.0-0' : '--'


        }}<sup>%</sup></span
      >
    </div>
    <button class="movie-card__menu" title="More options">...</button>
  </div>
  <div class="movie-card__info">
    <h3 class="movie-card__title">{{ movie.title || movie.name }}</h3>
    <div class="movie-card__date">
      {{ movie.release_date || movie.first_air_date | date : "MMM dd, yyyy" }}
    </div>
  </div>
</div>
