<div class="input-range-container">
  <label class="input-range-label">{{ label || "Input Range" }}</label>
  <div class="input-range-wrapper">
    <div class="input-range-tooltip" *ngIf="showTooltip">
      {{ tooltipText || minValue + " - " + maxValue }}
    </div>
    <div class="input-range-track">
      <!-- <input
        type="range"
        [attr.min]="minValue"
        [attr.max]="maxValue - 1"
        [(ngModel)]="minValue"
        [attr.step]="step"
        class="input-range input-range--min"
      /> -->
      <input
        type="range"
        [attr.min]="minValue + 1"
        [attr.max]="maxValue"
        [(ngModel)]="maxValue"
        [attr.step]="step"
        class="input-range input-range--max"
      />
      <div class="input-range-bar"></div>
      <div class="input-range-ticks">
        <span *ngFor="let tick of ticks" class="input-range-tick"></span>
      </div>
    </div>
    <div class="input-range-labels">
      <span *ngFor="let label of labels">{{ label }}</span>
    </div>
  </div>
</div>
