<app-movie-detail-hero [movie]="movie"></app-movie-detail-hero>

<div class="movie-detail-body">
  <div class="movie-detail-main-content">
    <!-- Cast -->
    <div class="movie-detail-cast movie-detail-section">
      <h2 class="movie-detail-section__title">Top Billed Cast</h2>
      <app-movie-detail-cast></app-movie-detail-cast>
    </div>

    <!-- Social content -->
    <div class="movie-detail-social movie-detail-section">
      <h2 class="movie-detail-section__title">Social</h2>
      <app-movie-detail-social
        [movieReview]="movieReview"
      ></app-movie-detail-social>
    </div>

    <!-- Media content -->
    <div class="movie-detail-media movie-detail-section">
      <h2 class="movie-detail-section__title">Media</h2>
      <app-movie-detail-media></app-movie-detail-media>
    </div>

    <!-- Recommendations content -->
    <div class="movie-detail-recommendations movie-detail-section">
      <h2 class="movie-detail-section__title">Recommendations</h2>
      <app-movie-detail-recommendations-list
        [recommendations]="recommendations"
      ></app-movie-detail-recommendations-list>
    </div>
  </div>

  <!-- Sidebar content -->
  <div class="movie-detail-section">
    <app-movie-detail-sidebar
      [movie]="movie"
      [keywords]="keywords"
    ></app-movie-detail-sidebar>
  </div>
</div>
