<app-movie-detail-hero [movie]="movie"></app-movie-detail-hero>

<div class="movie-detail-body">
  <div class="movie-detail-main-content">
    <!-- Cast -->
    <div class="movie-detail-cast movie-detail-section">
      <h2 class="movie-detail-section__title">Top Billed Cast</h2>
      <app-movie-detail-cast [castList]="castList"></app-movie-detail-cast>
    </div>

    <!-- Social content -->
    <div class="movie-detail-social movie-detail-section">
      <h2 class="movie-detail-section__title">Social</h2>
      <app-movie-detail-social
        [movieReview]="movieReview"
      ></app-movie-detail-social>
    </div>

    <!-- Media content -->
    <div class="movie-detail-media movie-detail-section">
      <h2 class="movie-detail-section__title">Media</h2>
      <app-movie-detail-media [movieId]="movieId"></app-movie-detail-media>
    </div>

    <!-- Recommendations content -->
    <div class="movie-detail-recommendations movie-detail-section">
      <h2 class="movie-detail-section__title">Recommendations</h2>
      <div class="movie-detail-recommendations-list">
        <div
          class="movie-detail-recommendations-item"
          *ngFor="let recommendation of recommendations"
        >
          <a [routerLink]="['/movies', recommendation.id]">
            <img
              [src]="
                recommendation.backdrop_path
                  ? (recommendation.backdrop_path | imageUrl : 500 : false)
                  : (recommendation.poster_path | imageUrl : 500 : false)
              "
              [alt]="recommendation.title"
              class="movie-detail-recommendations-item__img"
            />
          </a>
          <div class="movie-detail-recommendations-item__info">
            <a [routerLink]="['/movies', recommendation.id]">
              <p class="movie-detail-recommendations-item__info-title">
                {{ recommendation.title }}
              </p>
            </a>
            <p class="movie-detail-recommendations-item__info-rating">
              {{ recommendation.vote_average | convertPercent }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar content -->
  <div class="movie-detail-section">
    <app-movie-detail-sidebar
      [movie]="movie"
      [keywords]="keywords"
    ></app-movie-detail-sidebar>
  </div>
</div>
