@use "../../../../../assets/styles/mixins" as *;
@use "../../../../../assets/styles/variables" as *;
@use "../../../../../assets/styles/base" as *;

.movie-detail-section {
  background: $black-10;
  border-radius: 8px;
  padding: 1.5rem;
  height: fit-content;
  &__title {
    margin-bottom: 1rem;
    @include font-base(1.8rem, $bold, $white);
  }
}
