<div class="movie-filter">
  <div class="movie-filter__section">
    <h4>Sort</h4>
  </div>
  <div class="movie-filter__section">
    <h4>Filters</h4>
    <app-input-radio-group
      [options]="[
        { value: 'option1', label: 'Tùy chọn 1' },
        { value: 'option2', label: 'Tùy chọn 2' },
        { value: 'option3', label: 'Tùy chọn 3', disabled: true }
      ]"
      name="my-radio-group"
      [defaultValue]="'option1'"
      [inline]="true"
      (valueChanged)="onChangeCategory($event)"
    ></app-input-radio-group>
    <!-- <div>
      <label>
        <input type="radio" name="showMe" value="all" [(ngModel)]="showMe" />
        Everything
      </label>
      <label>
        <input
          type="radio"
          name="showMe"
          value="notSeen"
          [(ngModel)]="showMe"
        />
        Movies I Haven't Seen
      </label>
      <label>
        <input type="radio" name="showMe" value="seen" [(ngModel)]="showMe" />
        Movies I Have Seen
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="searchAllReleases" /> Search all
        releases?
      </label>
      <div>
        <input type="date" [(ngModel)]="dateRange.from" />
        <input type="date" [(ngModel)]="dateRange.to" />
      </div>
    </div>
    <div>
      <h5>Genres</h5>
      <div class="movie-filter__genres">
        <button
          *ngFor="let genre of genres"
          [class.selected]="selectedGenres.includes(genre)"
          (click)="toggleGenre(genre)"
        >
          {{ genre }}
        </button>
      </div>
    </div> -->
  </div>
</div>
