<div class="movie-card">
  <div class="movie-card__image">
    <img src="posterUrl" class="movie-card__poster" alt="posterAlt" />
    <div class="movie-card__rating">
      <span style="color: #21d07a; font-weight: bold; font-size: 1.1em"
        >{{ movieRating }} <sup style="font-size: 0.7em">%</sup></span
      >
    </div>
  </div>
  <div class="movie-card-content">
    <div class="movie-card-content__title">{{ movieTitle }}</div>
    <div class="movie-card-content__releaseDate">{{ movieReleaseDate }}</div>
  </div>
</div>
