<footer class="footer">
  <div class="footer__main">
    <div class="footer__col">
      <h4>Home</h4>
      <ul>
        <li>Categories</li>
        <li>Devices</li>
        <li>Pricing</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Movies</h4>
      <ul>
        <li>Gernes</li>
        <li>Trending</li>
        <li>New Release</li>
        <li>Popular</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Shows</h4>
      <ul>
        <li>Gernes</li>
        <li>Trending</li>
        <li>New Release</li>
        <li>Popular</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Support</h4>
      <ul>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Subscription</h4>
      <ul>
        <li>Plans</li>
        <li>Features</li>
      </ul>
    </div>
    <div class="footer__col">
      <h4>Connect With Us</h4>
      <div class="footer__socials">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <span>©2023 streamvib, All Rights Reserved</span>
    <div class="footer__links">
      <a href="#">Terms of Use</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Cookie Policy</a>
    </div>
  </div>
</footer>
