<section class="carousel-wrapper">
  <div class="header">
    <div>
      <h2 class="title">Explore our wide variety of categories</h2>
      <p class="desc">
        Whether you’re looking for a comedy to make you laugh, a drama to make
        you think...
      </p>
    </div>
    <div class="controls">
      <div class="swiper-button-prev custom-nav"><-</div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next custom-nav"></div>
    </div>
  </div>

  <swiper
    [slidesPerView]="6"
    [spaceBetween]="20"
    [navigation]="true"
    [pagination]="{ el: '.swiper-pagination', clickable: true }"
    class="category-swiper"
  >
    <ng-template swiperSlide *ngFor="let movie of movieList">
      <app-movie-card></app-movie-card>
    </ng-template>
  </swiper>
</section>
