<div class="movie-card">
  <a [routerLink]="detailLink" class="movie-card__image-wrapper">
    <img
      [src]="imageBaseUrl + posterPath"
      class="movie-card__poster"
      [alt]="posterAlt"
    />
    <div class="movie-card__rating">
      <app-user-score [size]="'small'" [score]="rating"></app-user-score>
    </div>
  </a>
  <div class="movie-card-content">
    <a [routerLink]="detailLink" class="movie-card-content__title">{{
      title
    }}</a>
    <div class="movie-card-content__releaseDate">
      {{ releaseDate | formatDate }}
    </div>
  </div>
</div>
