<div
  class="hero-section"
  [style.background-image]="
    'linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(' +
    imageBaseUrl +
    tvShow?.backdrop_path +
    ')'
  "
  [style.background-repeat]="'no-repeat'"
  [style.background-position]="'center'"
  [style.background-size]="'cover'"
>
  <div class="hero-section__container">
    <div class="hero-section__poster" *ngIf="tvShow?.poster_path">
      <img
        class="hero-section__poster-image"
        [src]="
          tvShow?.poster_path
            ? (tvShow?.poster_path | imageUrl : 500 : false)
            : 'assets/images/no-picture.png'
        "
        [alt]="tvShow?.name"
        loading="lazy"
      />
    </div>
    <div
      class="hero-section__poster hero-section__poster--no-image"
      *ngIf="!tvShow?.poster_path"
    >
      <img
        class="hero-section__poster-image--no-image"
        src="assets/icons/picture.svg"
        alt="No poster"
        class="hero-section__poster-image--no-image"
        loading="lazy"
      />
    </div>
    <div class="hero-section__content">
      <div class="hero-section__info">
        <h1 class="hero-section__info-title">
          {{ tvShow?.name || "-------" }}
          <span class="hero-section__info-year"
            >({{ tvShow?.first_air_date | date : "yyyy" }})</span
          >
        </h1>
        <div class="hero-section__meta">
          <span class="hero-section__meta-age">{{ age }}</span>
          <span> </span>
          <span class="hero-section__meta-date">{{
            tvShow?.first_air_date | date : "dd/MM/yyyy"
          }}</span>
          <span class="hero-section__meta-genre">{{ genres }}</span>
          <!-- <span class="hero-section__meta-duration">{{
            tvShow?.runtime | formatTime
          }}</span> -->
        </div>
      </div>

      <div class="hero-section__user-score">
        <app-user-score
          [size]="'medium'"
          [score]="tvShow?.vote_average"
        ></app-user-score>
        <span class="hero-section__user-score-label">User Score</span>
      </div>

      <div class="hero-section__actions">
        <app-button
          #playBtn
          [disabled]="disablePlayTrailer"
          variant="primary"
          size="large"
          (clicked)="onPlayTrailer()"
        >
          <img
            class="btn-icon"
            src="assets/icons/play.svg"
            alt="play"
            loading="lazy"
          />
          Play Trailer
        </app-button>

        <!-- Icon buttons -->
        <!-- (clicked)="onAddToList()" -->
        <app-button variant="icon" size="medium">
          <img
            class="btn-icon"
            src="assets/icons/add.svg"
            alt="add"
            loading="lazy"
          />
        </app-button>
        <!-- (clicked)="onLike() -->
        <app-button variant="icon" size="medium">
          <img
            class="btn-icon"
            src="assets/icons/like.svg"
            alt="like"
            loading="lazy"
          />
        </app-button>
      </div>

      <p class="hero-section__tagline">
        {{ tvShow?.tagline }}
      </p>

      <div class="hero-section__overview">
        <h2 class="hero-section__overview-text">Overview</h2>
        <p class="hero-section__overview-content">
          {{ tvShow?.overview }}
        </p>
      </div>
    </div>
  </div>
</div>

<app-trailer-modal
  [openModal]="openTrailerModal"
  (closeEvent)="onCloseTrailerModal()"
  [trailer]="trailer"
></app-trailer-modal>
