<div class="hero">
  <img src="assets/images/home-hero.png" alt="home" class="hero__image" />
  <div class="hero__content">
    <div class="hero-text">
      <h2 class="hero-text__heading">The Best Streaming Experience</h2>
      <p class="hero-text__description">
        StreamVibe is the best streaming experience for watching your favorite
        movies and shows on demand, anytime, anywhere. With StreamVibe, you can
        enjoy a wide variety of content, including the latest blockbusters,
        classic movies, popular TV shows, and more. You can also create your own
        watchlists, so you can easily find the content you want to watch.
      </p>
    </div>
    <button class="hero-btn">
      <img src="assets/icons/play.svg" alt="play-icon" class="hero-btn__icon" />
      <span class="hero-btn__text"> Start Watching Now </span>
    </button>
  </div>
</div>
<div class="section category-section">
  <app-movie-carousel [movieList]="popularMovieList"></app-movie-carousel>
  <!-- <div class="section-header">
    <div class="section-header-text">
      <h3 class="section-header-text__title">
        Explore our wide variety of categories
      </h3>
      <p class="section-header-text__description">
        Whether you're looking for a comedy to make you laugh, a drama to make
        you think, or a documentary to learn something new
      </p>
    </div>
  </div> -->
</div>
