@use "variables" as *;
@use "mixins" as mix;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: $black-08;
}

a {
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
  &--white {
    filter: brightness(0) invert(1);
  }
}

.section {
  margin: 150px auto 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include mix.mq-md {
    max-width: 358px;
  }
  @include mix.mq-lg {
    max-width: 1200px;
  }
  @include mix.mq-xl {
    max-width: 1597px;
  }
  &-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    &__title {
      @include mix.font-base(2.8rem, $bold, $white);
    }
  }
}
