@use "variables" as *;
@use "mixins" as mix;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: $black-08;
}

a {
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
  &--white {
    filter: brightness(0) invert(1);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.container {
  margin: 0 auto;
  @include mix.mq-md {
    max-width: 358px;
  }
  @include mix.mq-lg {
    max-width: 1280px;
  }
  @include mix.mq-xl {
    max-width: 1598px;
  }
}

.section {
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @extend .container;
  @include mix.mq-xl {
    padding: 50px;
  }
  @include mix.mq-lg {
    padding: 40px;
  }
  &-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    &__title {
      @include mix.font-base(2.8rem, $bold, $white);
    }
  }
}

//Override default styles for Swiper
.swiper-slide {
  height: auto !important;
}
