// Absolute Colors
$white: #ffffff;
$black: #000000;

// Red Shades (Primary Colors)
$red-45: #e50000;
$red-50: #ff0000;
$red-55: #ff1919;
$red-60: #ff3333;
$red-80: #ff9999;
$red-90: #ffcccc;
$red-95: #ffe5e5;
$red-99: #fffafa;

// Black Shades (Dark Background)
$black-06: #0f0f0f;
$black-08: #141414;
$black-10: #1a1a1a;
$black-12: #1f1f1f;
$black-15: #262626;
$black-20: #333333;
$black-25: #404040;
$black-30: #4c4c4c;

// Grey Shades
$grey-60: #b3b3b3;
$grey-65: #a6a6a6;
$grey-70: #bdbdbd;
$grey-75: #e0e0e0;
$grey-80: #e5e5e7;
$grey-84: #f1f1f3;
$grey-87: #f7f7f8;
$grey-99: #fcfcfd;

//Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
