<div class="watchlist-item">
  <div class="item-thumbnail">
    <img
      [src]="data.poster_path | imageUrl : 500 : false"
      alt="28 Years Later"
      class="item-thumbnail__image"
    />
    <div class="item-thumbnail__score"></div>
  </div>
  <div class="item-content">
    <div class="content-header">
      <app-user-score
        [size]="'small'"
        [score]="data.vote_average"
      ></app-user-score>
      <div class="content-header__text">
        <h3 class="content-header__text-title">{{ renderTitle() }}</h3>
        <p class="content-header__text-date">
          {{ renderDate() | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </div>

    <p class="content-overview">
      {{ data.overview }}
    </p>
    <div class="item-actions">
      <button class="action-btn">
        <img
          src="assets/icons/star-solid.svg"
          alt="star"
          class="action-btn__icon"
        />
        Rate it!
      </button>
      <button class="action-btn" (click)="handleToggleFavorite()">
        <img
          src="assets/icons/heart-solid.svg"
          alt="heart"
          class="action-btn__icon"
          *ngIf="accountStates?.favorite"
        />
        <img
          src="assets/icons/heart-white.svg"
          alt="heart"
          class="action-btn__icon"
          *ngIf="!accountStates?.favorite"
        />

        Favorite
      </button>

      <button class="action-btn" (click)="handleRemoveFromWatchlist()">
        <img src="assets/icons/x.svg" alt="x" class="action-btn__icon" />
        Remove
      </button>
    </div>
  </div>
</div>
